<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jonathan \"Duke\" Leto" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/jquery.slideshow.css" type="text/css" media="screen, projection" />
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
   <script type="text/javascript" src="/js/jquery.slideshow.js"></script>

   <script type="text/javascript">
$(document).ready(function(){
    var $el = $('#slideshow');
    $el.slideshow({
        duration: 400,
        delay: 3000,
        selector: '> img',
        transition: 'push(up)',
        autoPlay: true,
        show: function (params){
            var nextIndex = params.next.index;
            if (nextIndex > 2) {
            // do something awesome when the slide is after the third slide.
            }
        },
        complete: function (params){
            // do something awesome when a transition finishes
        }
    });

    // get the slideshow object if you want it
    var slideshow = $el.data('slideshow');

    // show the third slide
    //$el.slideshow( 'show', 2 ); // Element API
    //slideshow.show(2); // object API

    // show the next slide
    //slideshow.show('next');

    // pause and play
    //slideshow.stop();
    //slideshow.play();
});
</script>
   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2316835-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

<div class="site">
  <div class="title">
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        {{ site.name }}<br />

        {% if site.tagline %}
        {{ site.tagline }}<br />
        {% endif %}

        {{ site.email }}<br />
        <a href="http://labs.leto.net">Leto Labs LLC</a> <br/>
      {% if site.twitter %}
      <a href="http://twitter.com/{{ site.twitter }}" class="twitter-follow-button">@{{ site.twitter }}</a>
      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
        {% endif %}
      </p>
    </div>
    <div class="contact" style="float:right;">
      <p>
      {% if site.github %}
        <a href="http://github.com/{{ site.github }}/">Github: {{ site.github }}</a><br />
        {% endif %}
      {% if site.identica %}
        <a href="http://identi.ca/{{ site.identica }}">Identi.ca: {{ site.identica }}</a><br />
        {% endif %}
      {% if site.linkedin_url %}
        <a href="{{ site.linkedin_url }}">Linkedin</a><br />
        {% endif %}
      {% if site.ohloh_url %}
        <a href="{{ site.ohloh_url }}">Ohloh</a><br />
        {% endif %}
      {% if site.coderwall_username %}
        <a href="http://coderwall.com/{{ site.coderwall_username }}">Coderwall</a><br />
        {% endif %}
      </p>
    </div>
    <div class="rss">
<!--
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
-->
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/domenika/domenika.github.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
</html>
